$body-font-family = 'Source Sans Pro'
$alert-font-size = 18px

@import '~vuetify/src/stylus/main'
// For a-la-carte
@import '~vuetify/src/stylus/app'

html {
  overflow-y: auto;
  background-size: 100vw 100vh;
  background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
}
.application {
  width: 720px;
  height: 440px;
}
.application--wrap {
  min-height: 440px !important;
}
.layout {
  height: 100%;
}
