<template lang="pug">
v-list.transparent.checklist
  v-list-tile.my-3(two-line subheader v-for='(p,i) in points' :key='i')
    v-list-tile-avatar(@click='toggle(i)')
      v-icon.lighten-1.white--text(:class='iconColors(p)') {{ iconState(p) }}
    v-list-tile-content
      v-list-tile-title {{ p.title }}
      v-list-tile-sub-title {{ p.description }}
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  computed: {
    ...mapState('checklist', {
      points: 'points'
    })
  },
  methods: {
    iconColors(p) {
      return {
        'green': p.isDone,
        'grey': !p.isDone
      }
    },
    iconState(p) {
      return p.isDone ? 'done' : ''
    },
    ...mapMutations('checklist', {
      toggle: 'toggle'
    })
  }
}
</script>


<style lang="scss">
.checklist {
  .v-list__tile {
    font-size: 1.6em;
  }
}
</style>
