<template lang="pug">
v-layout(row wrap)
  v-flex
    v-list.transparent
      v-list-tile.my-2(v-for='(s,i) in shortcuts' :key='i')
        v-list-tile-avatar(v-for='k in s.keys' :key='k')
          .key-icon.blue-grey.white--text {{ k }}
        v-list-tile-title {{ s.title }}
</template>

<script>
export default {
  data() {
    return {
      shortcuts: [
        { keys: ['R'], title: 'Reset' },
        { keys: ['⯅','⯆'], title: 'Add / remove member' },
        { keys: ['   enter   '], title: 'Select first / next member' },
        { keys: ['1','2','3'], title: 'Toggle points from checklist' },
        { keys: ['   space   '], title: 'Start / stop timer ' },
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.key-icon {
  height: 40px;
  min-width: 40px;
  border-radius: 10px;
  line-height: 40px;
  white-space: pre;
  font-family: monospace;
}
.v-avatar {
  width: auto !important;
}
.v-list__tile__avatar {
  min-width: auto;
  margin-right: 10px;
  &:first-child {
    margin-left: 350px;
  }
}
.v-list__tile__title {
  position: absolute;
  margin-left: -350px;
  text-align: right;
}
</style>
