<template lang="pug">
v-layout.transparent.members
  v-btn.mr-5.red.darken-1.white--text(fab small @click='remove()'): v-icon remove
  v-avatar.ma-1(
    v-for='(m,i) in members'
    :key='i'
    @click='selectNext()'
  )
    v-icon.white--text(
      :class='iconColors(m)'
    ) {{ iconState(m) }}
  v-btn.ml-5.green.darken-1.white--text(fab small @click='add()'): v-icon add
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  computed: {
    ...mapState('members', {
      members: 'members'
    })
  },
  methods: {
    iconColors(m) {
      return {
        "cyan": m.isActive,
        "orange": !m.isActive && !m.isDone && m.hasWarning,
        "green lighten-1": !m.isActive && m.isDone,
        "grey lighten-2": !m.isActive && !m.isDone && !m.hasWarning
      }
    },
    iconState(m) {
      return !m.isActive && !m.isDone && m.hasWarning ? 'warning' : 'person'
    },
    ...mapMutations('members', {
      add: 'add',
      remove: 'remove',
      selectNext: 'selectNext',
    }),
  }
}
</script>


<style lang="scss" scoped>
.members {
  display: contents;
}
</style>
