<template lang="pug">
span
</template>

<script>
import { mapState, mapMutations } from 'vuex';
export default {
  mounted() {
    if (window.shortcutsListener) {
      window.removeEventListener('keyup', window.shortcutsListener)
    }
    window.shortcutsListener = ({keyCode}) => {
      if (this.displayMode != 'settings') {
        this.keyup(keyCode)
      }
    }
    window.addEventListener('keyup', window.shortcutsListener);
  },
  computed: {
    ...mapState('app', {
      displayMode: 'displayMode'
    }),
    ...mapState('timer', {
      isRunning: 'isRunning'
    }),
    ...mapState('checklist', {
      points: 'points'
    }),
  },
  methods: {
    keyup(code) {
      // console.log(code);
      switch (code) {
        case 32: this.toggleRunning();
          break; // space

        case 13:
          const checkedPoints = this.points.filter(p => p.isDone).length;
          if (checkedPoints > 0 && checkedPoints < this.points.length) {
            this.setMemberWarning();
          }
          if (checkedPoints == this.points.length) {
            this.setMemberDone();
          }
          this.resetChecklist();
          this.selectNextMember();
          break; // enter

        case 40: this.removeMember();
          break; // down
        case 38: this.addMember();
          break; // up

        case 82: this.resetAll();
          break; // r

        case 66: this.openTimer();
          break; // b
        case 73: this.openInfoPanel();
          break; // i

        default: 
          if (49 <= code && code <= 51) { // 1..3
            const pointIndex = code - 49
            this.togglePoint(pointIndex)
          } else if ([81,87,69].includes(code)) { // q,w,e
            const pointIndex = [81,87,69].indexOf(code)
            this.togglePoint(pointIndex)
          }
          break;
      }
    },
    ...mapMutations('app', {
      openTimer: 'openTimer',
      openInfoPanel: 'openInfoPanel',
    }),
    ...mapMutations('timer', {
      resetTimer: 'reset',
      toggleRunning: 'toggleRunning',
    }),
    ...mapMutations('members', {
      addMember: 'add',
      removeMember: 'remove',
      selectNextMember: 'selectNext',
      setMemberWarning: 'setWarning',
      setMemberDone: 'setDone',
      resetMembers: 'reset',
    }),
    ...mapMutations('checklist', {
      resetChecklist: 'reset',
      togglePoint: 'toggle',
    }),
    resetAll() {
      this.resetTimer()
      this.resetMembers()
      this.resetChecklist()
    },
  },
}
</script>
