<template lang="pug">
.timer(@click='toggleRunning()')
  svg.progress(viewBox='0 0 100 100')
    path(stroke-linecap='round', stroke-width='4', stroke='#ddd', fill='none', 
      d='M50 2 a 48 48 0 0 1 0 96 a 48 48 0 0 1 0 -96')
    path(stroke-linecap='round', stroke-width='4', stroke='#7bdccd', fill='none',
      d='M50 2 a 48 48 0 0 1 0 96 a 48 48 0 0 1 0 -96'
      :style="`stroke-dasharray: ${300 * progress}, 300;`")
  span.display-3.font-weight-light
    | {{ time | minutes }}
  small.display-1
    span.ping(:class='{"alt": ping % 2 == 0 }') :
    | {{ time | seconds }}
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  data() {
    return {
      time: 0,
      lastSecond: 0,
      ping: 0,
      interval: 0,
      progress: 0,
    };
  },
  computed: {
    ...mapState('timer', {
      isRunning: 'isRunning',
      startTime: 'startTime',
    })
  },
  filters: {
    minutes: (date) => ('' + Math.floor(date / 1000 / 60) % 60).padStart(2, "0"),
    seconds: (date) => ('' + Math.floor(date / 1000) % 60).padStart(2, "0")
  },
  mounted() {
    if (this.isRunning) {
      this.begin()
    }
  },
  watch: {
    isRunning(newValue) {
      if (!newValue) {
        clearInterval(this.interval)
        return
      }
      this.begin()
    },
    startTime(newValue) {
      if (!newValue) {
        this.time = 0;
        this.lastSecond = 0;
        this.ping = 0;
        this.progress = 0;
      }
    }
  },
  methods: {
    elapsed() {
      return Date.now() - this.startTime;
    },
    begin() {
      this.t = this.elapsed();
      this.interval = setInterval(() => {
        this.time = this.elapsed();
        const currentSecond = Math.floor(this.time / 1000);
        this.ping = this.lastSecond == currentSecond ? 1 : 0;
        this.lastSecond = currentSecond;
        this.progress = ((this.time / 1000 / 60) % 60) / 15;
      }, 500);
    },
    ...mapMutations('timer', {
      toggleRunning: 'toggleRunning',
    })
  }
};
</script>

<style lang="scss" scoped>
.progress {
  position: absolute;
  width: 220px;
  left: 58px;
  top: 18px;
}
.timer {
  > * {
    font-family: "Play", sans-serif !important;
    color: #444;
  }
  small {
    vertical-align: top;
    margin-top: .3em;
    display: inline-block;
  }
}
.ping {
  opacity: .2;
  animation: ping 1s steps(1) 0s infinite;
  transition: none;
  &.alt {
    opacity: .9;
  }
}
</style>