<template lang="pug">
v-app.ma-4.elevation-4
  Shortcuts
  v-toolbar.elevation-0
    v-toolbar-title.text-uppercase(@click='openTimer()')
      span Standup
      span.font-weight-light  Board
    v-spacer
    v-btn(icon @click='resetAll()'): v-icon refresh
    v-btn(icon @click='openInfoPanel()'): v-icon info
    //- v-btn(icon @click='openSettings()'): v-icon settings
  v-content
    v-layout(v-if='displayMode == "timer"', column)
      v-flex.border-bottom(xs-8): v-layout(align-center)
        v-flex.ml-3.pl-3(xs5 text-xs-center): Timer
        v-flex.pa-3(xs7 text-xs-center): Checklist
      v-flex(xs-4): v-layout(align-center justify-center)
        Members
    v-layout.pa-4(v-if='displayMode == "info"')
      InfoPanel
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Timer from './components/Timer';
import Checklist from './components/Checklist';
import Members from './components/Members';
import Shortcuts from './components/Shortcuts';
import InfoPanel from './components/InfoPanel';

export default {
  name: 'App',
  components: {
    Timer,
    Checklist,
    Members,
    Shortcuts,
    InfoPanel,
  },
  computed: {
    ...mapState('app', {
      displayMode: 'displayMode'
    })
  },
  methods: {
    resetAll() {
      this.resetTimer()
      this.resetMembers()
      this.resetChecklist()
    },
    ...mapMutations('app', {
      openTimer: 'openTimer',
      openInfoPanel: 'openInfoPanel'
    }),
    ...mapMutations('timer', {
      resetTimer: 'reset'
    }),
    ...mapMutations('members', {
      resetMembers: 'reset'
    }),
    ...mapMutations('checklist', {
      resetChecklist: 'reset'
    }),
  }
}
</script>

<style lang="scss">
.v-content {
  overflow: hidden;
}
.v-toolbar__title {
  cursor: pointer;
}
</style>
